<header>
  <h1>YouTube Player</h1>
  <div class="search-bar" [class.slide-top-error]="slideTopError">
  <input 
    type="text" 
    [(ngModel)]="videoUrl" 
    placeholder="Entrez l'URL YouTube..."
    (keyup.enter)="playVideo()"
  >
  <button (click)="playVideo()">▶</button>
</div>
</header>

<main>
  <div class="video-container">
    <iframe *ngIf="embedUrl" [src]="embedUrl" allowfullscreen></iframe>
    <p class="video-title">{{ currentVideoTitle }}</p>
  </div>
<app-history
  [history]="history"
  (videoSelected)="replayVideo($event)">
</app-history>
</main>
